<a href="https://colab.research.google.com/github/gurappa9797/28mints-devops-master-class/blob/master/Dictionaries_%26_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries: A collection of key-value pairs. Each key is unique and is used to access its corresponding value.

Syntax: Defined using curly braces {} with key-value pairs separated by colons :.
 1. User Profile Data
 2. Storing Product Details in an E-commerce App
 3. Tracking Inventory in a Store
 4. Mapping Student Grades
 5. Phonebook Application

In [6]:
# Creating user Profile under dictionaries
user_profile = {
    "name": "John Doe",
    "age": 30,
    "city": "New York",
    "profession": "S/W Engineer"
}
print(user_profile)

# Getting all the Keys
keys = user_profile.keys()
print("Keys:", keys)

# Getting all the Values
values = user_profile.values()
print(values)

# If you want to loop through both keys and values
for key, value in user_profile.items():
    print(f"{key}: {value}")

{'name': 'John Doe', 'age': 30, 'city': 'New York', 'profession': 'S/W Engineer'}
Keys: dict_keys(['name', 'age', 'city', 'profession'])
dict_values(['John Doe', 30, 'New York', 'S/W Engineer'])
name: John Doe
age: 30
city: New York
profession: S/W Engineer

In [10]:
# Intialize dictionary
person = {
    "name": "Guru",
    "age": 30,
    "city": "virginia"
}

# Print the initial Dictionary
print("inital dictionary:", person)

# Accesing elements
print("Name:", person["name"])
print("Age:", person["age"])
print("City:", person["city"])

# Modifying elements
person["age"] = 31
print("After modifed age:", person["age"])

inital dictionary: {'name': 'Guru', 'age': 30, 'city': 'virginia'}
Name: Guru
Age: 30
City: virginia
After modifed age: 31

In [12]:
# Using Get methods to access elements
print("\n7. using get() method to access a keys and values")
print("Name:", person.get("name"))
print("Age:", person.get("age"))
print("City:", person.get("city"))

7. using get() method to access a keys and values
Name: Guru
Age: 31
City: virginia

In [13]:
# Adding new key value pairs to dictionary
print("\n8. Adding new key value pairs to dictionary")
person["occupation"] = "Engineer"
person["country"] = "USA"
print(person)

8. Adding new key value pairs to dictionary
{'name': 'Guru', 'age': 31, 'city': 'virginia', 'occupation': 'Engineer', 'country': 'USA'}

In [17]:
# updating a value
print("\n9. updating a value")
person["age"] = 32
print(person)
person[0] = "sai"
print(person)

9. updating a value
{'name': 'Guru', 'age': 32, 'city': 'virginia', 'occupation': 'Engineer', 'country': 'USA', 0: 'sai'}
{'name': 'Guru', 'age': 32, 'city': 'virginia', 'occupation': 'Engineer', 'country': 'USA', 0: 'sai'}

In [22]:
# Creating dictionary using dict() consturctor
print("\n10. Creating dictionary using dict() consturctor")
new_person = dict(name="hesh", age=20, city="virginia", var=3, )
print(new_person["name"])
print("new dictionary:", new_person)

10. Creating dictionary using dict() consturctor
hesh
new dictionary: {'name': 'hesh', 'age': 20, 'city': 'virginia', 'var': 3}

In [31]:
# update
print("\n11.update dictionary:")
person.update(new_person)
print("updated dictionary:", person)

11.update dictionary:
updated dictionary: {'name': 'hesh', 'age': 20, 'city': 'virginia', 'var': 3}

In [33]:
# Removing key-vaule pairusing Pop()
print("\n12. Removing the last Key-value pair using popitem()")
person.popitem() # last item
print(person)

12. Removing the last Key-value pair using popitem()
{'name': 'hesh', 'age': 20}

In [34]:
# Checking if Key is exits in the dictionary
print("\n13. Checking if Key is exits in the dictionary")
if "name" in person:
    print("Key 'name' exists in the dictionary.")
    print(person["name"])
else:
    print("Key 'name' does not exist in the dictionary.")

13. Checking if Key is exits in the dictionary
Key 'name' exists in the dictionary.
hesh

In [35]:
 # looping through keys and valuex using for loop
print("\n14. looping through keys and valuex using for loop")
for key, value in person.items():
    print(f"{key}: {value}")

14. looping through keys and valuex using for loop
name: hesh
age: 20

In [37]:
# Getting only keys or only Values
print("\n15. Getting only keys or only Values")
keys = person.keys()
values = person.values()
print("Keys:", keys)
print("Values:", values)
print("keys:", list(keys))
print("values:", list(values))

15. Getting only keys or only Values
Keys: dict_keys(['name', 'age'])
Values: dict_values(['hesh', 20])
keys: ['name', 'age']
values: ['hesh', 20]

In [38]:
# Copying Dictionary
print("\n16. Copying Dictionary")
new_person = person.copy()
print("New Person:", new_person)

16. Copying Dictionary
New Person: {'name': 'hesh', 'age': 20}

In [41]:
# Clearing Dictionary
print("\n17. Clearing Dictionary")
person.clear()
print("Cleared Person:", person)

17. Clearing Dictionary
Cleared Person: {}

In [42]:
# Checking Dectionary is empty
print("\n18. Checking Dectionary is empty")
if not person:
    print("Person dictionary is empty.")
else:
    print("Person dictionary is not empty.")

18. Checking Dectionary is empty
Person dictionary is empty.

In [83]:
# Creating empty shoping cart
print("\n19. Creating empty shoping cart ")
shopping_cart = []

19. Creating empty shoping cart

In [84]:
 # Adding the items to cart
shopping_cart.append({"item": "keyboard", "price": 100, "quantity": 5})
shopping_cart.append({"item": "mouse", "price": 50, "quantity": 1})
shopping_cart.append({"item": "mobile", "price": 1000, "quantity": 2})
shopping_cart.append({"item": "Laptop", "price": 1200, "quantity": 1})
shopping_cart.append({"item": "Headphones", "price": 150, "quantity": 2})
print(shopping_cart)

[{'item': 'keyboard', 'price': 100, 'quantity': 5}, {'item': 'mouse', 'price': 50, 'quantity': 1}, {'item': 'mobile', 'price': 1000, 'quantity': 2}, {'item': 'Laptop', 'price': 1200, 'quantity': 1}, {'item': 'Headphones', 'price': 150, 'quantity': 2}]

In [85]:
# Removing last added item
shopping_cart.pop()
print(shopping_cart) # it will remove laste item headphones

[{'item': 'keyboard', 'price': 100, 'quantity': 5}, {'item': 'mouse', 'price': 50, 'quantity': 1}, {'item': 'mobile', 'price': 1000, 'quantity': 2}, {'item': 'Laptop', 'price': 1200, 'quantity': 1}]

In [86]:
#  View the cart
for item in shopping_cart:
    print(f"Item: {item['item']}, Price: {item['price']}, Quantity: {item['quantity']}")

Item: keyboard, Price: 100, Quantity: 5
Item: mouse, Price: 50, Quantity: 1
Item: mobile, Price: 1000, Quantity: 2
Item: Laptop, Price: 1200, Quantity: 1

In [92]:
# updating the quantity of an item
for item in shopping_cart:
    if item["item"] == "mouse":
        item["quantity"] += 1  # Increment the quantity by 1
        break  # Exit the loop after updating the quantity
print(shopping_cart)
for item in shopping_cart:
    print(f"Item: {item['item']}, Price: ${item['price']}, Quantity: {item['quantity']}")

[{'item': 'keyboard', 'price': 100, 'quantity': 5}, {'item': 'mouse', 'price': 50, 'quantity': 16}, {'item': 'mobile', 'price': 1000, 'quantity': 2}, {'item': 'Laptop', 'price': 1200, 'quantity': 1}]
Item: keyboard, Price: $100, Quantity: 5
Item: mouse, Price: $50, Quantity: 16
Item: mobile, Price: $1000, Quantity: 2
Item: Laptop, Price: $1200, Quantity: 1

In [93]:
# alculating Total cost
total_cost = sum(item["price"] * item["quantity"] for item in shopping_cart)
print(f"Total Cost: ${total_cost}")

Total Cost: $4500

Function Definition: A function is defined using the def keyword, followed by the function name and parentheses () which may contain parameters.
1.   Function Call: After defining a function, you can call it by using its name followed by parentheses.
2.   Parameters and Arguments: Functions can take input values, known as parameters. When calling the function, you provide arguments for these parameters.
3.   Return Statement: Functions can return a value using the return keyword.

In [101]:
 # Def function
def greet():
    print(f"Hello, world!")
    print("greet function")
greet()

Hello, world!
greet function

In [102]:
def greet(name):
    print(f"Hello, {name}!")
wish = input("Enter your name:")
greet(wish)

Enter your name:heshwith
Hello, heshwith!

In [103]:
# squre number
def square(number):
    return number ** 2
result = square(5)
print(result)

25

In [106]:
# for loop for squr number
def square_numbers(numbers):
    return numbers ** 2
for i in range(0, 11):
    print(square_numbers(i))

0
1
4
9
16
25
36
49
64
81
100

In [107]:
# Def add
def add(a, b):
    return a + b
result = add(5, 3)
print(result)

8

In [109]:
# def factorial
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)
result = factorial(5)
print(result)

120

In [125]:
def factorial(n):
    result = 1
    for i in range(1, n + 1):
        result *= i
    return result
for i in range(0, 11):
  s = factorial(i)
  print(s)
  print(s, end=" ")
  #print(f"The factorial of {i} is {s}")

1
1 1
1 2
2 6
6 24
24 120
120 720
720 5040
5040 40320
40320 362880
362880 3628800
3628800

In [147]:
def factorial(n):
  result = 1
  for i in range(1, n + 1):
      result *= i
  return result
s = 0
for i in range(0, 11):
  s = s+ factorial(i)
  print(s, end=" ")
  print(f"The factorial of {i} is {s}")

1 The factorial of 0 is 1
2 The factorial of 1 is 2
4 The factorial of 2 is 4
10 The factorial of 3 is 10
34 The factorial of 4 is 34
154 The factorial of 5 is 154
874 The factorial of 6 is 874
5914 The factorial of 7 is 5914
46234 The factorial of 8 is 46234
409114 The factorial of 9 is 409114
4037914 The factorial of 10 is 4037914

Positional Arguments are the most straightforward way of passing arguments to a function. The arguments are assigned to the function parameters in the order they are passed.

In [3]:
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

# Calling the function with positional arguments
greet("gurusai", 25)
greet(30, "heshwith")

Hello, gurusai! You are 25 years old.
greet function
Hello, 30! You are heshwith years old.
greet function

Keyword Arguments: These arguments are passed by explicitly specifying the parameter names in the function call. This allows you to pass the arguments in any order.

In [4]:
def greet(name, age):
    print(f"Hello, {name}! You are {age} years old.")

# Calling the function with keyword arguments
greet(age=30, name="heshwith")

Hello, heshwith! You are 30 years old.

Default Arguments: These are arguments that have default values specified in the function definition. If no value is provided for these arguments when the function is called, the default value is used.

In [7]:
def greet(name="guest", age=30):
    print(f"Hello, {name}! You are {age} years old.")

# Calling the function with default argument
print(greet())
print(greet("sachin", 42))

Hello, guest! You are 30 years old.
None
Hello, sachin! You are 42 years old.
None

*args (Variable-Length Positional Arguments): The *args syntax allows you to pass a variable number of positional arguments to a function. These arguments are collected into a tuple.

In [13]:
def add_numbers(*args):
    result = 0
    for num in args:
        result += num
    return result

# Calling the function with variable number of arguments
print(add_numbers(1, 2, 3, 4, 5))
print(add_numbers(10, 20, 30))

15
60

In [12]:
def add_numbers(*args):
    return sum(args)
print(add_numbers(1, 2, 3, 4, 5))
print(add_numbers(10, 20, 30))
# Calling the function with variable number of arguments

15
60

In [19]:
def find_max(*args):
    return max(args)
nums = [10, 5, 20, 15, 30]
max_num = find_max(*nums)
print(max_num)

30
30

In [20]:
def find_min(*args):
    return min(args)
nums = [10, 5, 20, 15, 30]
min_num = find_min(*nums)
print(min_num)

5

In [24]:
def square_list(*args):
    return [x ** 2 for x in args]
numbers = [1, 2, 3, 4, 5]
squared_list = square_list(*numbers)
r_1 = square_list(*numbers)
print(r_1)
print(squared_list)
print(square_list(*numbers))

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [26]:
def square_tuple(*args):
    return tuple(x ** 2 for x in args)
numbers = (1, 2, 3, 4, 5)
squared_tuple = square_tuple(*numbers)
r_1 = square_tuple(*numbers)
print(r_1)
print(squared_tuple)
print(square_tuple(*numbers))

(1, 4, 9, 16, 25)
(1, 4, 9, 16, 25)
(1, 4, 9, 16, 25)

 **kwargs (Variable-Length Keyword Arguments): The **kwargs syntax allows you to pass a variable number of keyword arguments to a function. These arguments are collected into a dictionary.

In [31]:
def print_info(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
profile = {
    "name": "John Doe",
    "age": 30,
    "city": "New York"
}
print_info(**profile)
#print_info(profile)

# Calling the function with keyword arguments
#print_info(name="John", age=30, city="New York")

name: John Doe
age: 30
city: New York

In [38]:
def create_profile(name, **kwargs):
    profile = {"name": name}
    profile.update(kwargs)  # Add any additional key-value pairs to the profile
    return profile
profile = {"age": 30, "city": "New York",}
print(profile)
profile = create_profile("GuRu Sai", **profile)
print(profile)

{'age': 30, 'city': 'New York'}
{'name': 'GuRu Sai', 'age': 30, 'city': 'New York'}

In [41]:
def create_person(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")
    person = {
        "name": kwargs.get("name", "Unknown"),
        "age": kwargs.get("age", 0),
        "city": kwargs.get("city", "Unknown")
    }
    return person
profile = create_person(name= input("Enter Name:"), age= input("Enter Age:"), city=input("Enter City:"))
print(profile)

Enter Name:Gurusai
Enter Age:35
Enter City:virginia
name: Gurusai
age: 35
city: virginia
{'name': 'Gurusai', 'age': '35', 'city': 'virginia'}