<a href="https://colab.research.google.com/github/gurappa9797/28mints-devops-master-class/blob/master/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
fruits = ["'apple', 'banana', 'cherry'"]
print(fruits)
int_val = [1, 2, 3]
print(int_val)
float_val = [1.0, 2.0, 3.0]
print(float_val)
multi_val = [[1, 2, 3], [4, 5, 6]]
print(multi_val)
v=["python program"]
print(v)
list = ['apple', 1.0, 1, True]
print(list)

["'apple', 'banana', 'cherry'"]
[1, 2, 3]
[1.0, 2.0, 3.0]
[[1, 2, 3], [4, 5, 6]]
['python program']
['apple', 1.0, 1, True]

In [4]:
# for Loop using on list
a =[1,2,3,4,5,6]
print('for loop using on list')
for i in a:
    print(i)
    print( "using for loop")
    print("end for loop")
print("end for loop")

for loop using on list
1
using for loop
end for loop
2
using for loop
end for loop
3
using for loop
end for loop
4
using for loop
end for loop
5
using for loop
end for loop
6
using for loop
end for loop
end for loop

In [5]:
temperatures_celsius = [-5, -1, -3, 0, 30, 40 , 50 ,60 ,70]
temperatures_fahrenheit = []

for temp in temp_celsius:

    if temp >= 0:  # Only consider temperatures above freezing

        fahrenheit = (temp * 9/5) + 32  # Convert to Fahrenheit

        temperatures_fahrenheit.append(fahrenheit)

print("Filtered and converted temperatures:", temperatures_fahrenheit)

NameError: name 'temp_celsius' is not defined

Given a list of sales, calculate how many sales are greater than 50 and how many are less than 50. Consider a average score as 50.

for sales_value in sales:

    if sales_value >= 50:

        above += 1

    else:

        below += 1

print(f"Number of sales above 50: { above }")

print(f"Number of sales below 50: { below }")

In [10]:
sales = [45, 78, 55, 34, 62, 90, 29, 50,85, 49]
for sales_value in sales:
if sales >= 50:
    above += 1
else:
    below += 1
 print (sales)
else
 print (sales)

IndentationError: unexpected indent (<ipython-input-10-a3bce39ef50a>, line 2)

In [3]:
# List operations in Pytoh

# List creation in pythom

F = ["apple", "banana", "cherry", "GRAPS", "ORANGE", "kiwi", "melon", "mango"]
print(F)

int_val = (1,2,3,4,5,6,7)
print(int_val)

float_val = (1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0)
print(float_val)

multi_val = [[1, 2, 3], [4, 5, 6]]
print(multi_val)

['apple', 'banana', 'cherry', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango']
(1, 2, 3, 4, 5, 6, 7)
(1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0)
[[1, 2, 3], [4, 5, 6]]

In [9]:
# Itirating through list  for loop
fruits = ["apple", "banana", "cherry", "GRAPS", "ORANGE", "kiwi", "melon", "mango"]
for gur in fruits:
    print(gur)
    print("using for loop")
print("end for loop")

apple
using for loop
banana
using for loop
cherry
using for loop
GRAPS
using for loop
ORANGE
using for loop
kiwi
using for loop
melon
using for loop
mango
using for loop
end for loop

In [10]:
# int value for for loop

int_val = (1,2,3,4,5,6,7)
for i in int_val:
    print(i)
    print("using for loop")
print("end for loop")

1
using for loop
2
using for loop
3
using for loop
4
using for loop
5
using for loop
6
using for loop
7
using for loop
end for loop

In [11]:
# Acceing element on list
print("First element:", fruits[0])
print("Third element:", fruits[2])
print("Last element:", fruits[-1])

First element: apple
Third element: cherry
Last element: mango

In [12]:
print(fruits[0:3])

['apple', 'banana', 'cherry']

In [13]:
# Inserting elements at specific index
fruits.insert(2, "pineapple")
print(fruits)

['apple', 'banana', 'pineapple', 'cherry', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango']

In [14]:
# appending elements (adding at the end of list)
fruits.append("peach")
print(fruits)

['apple', 'banana', 'pineapple', 'cherry', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'peach']

In [17]:
# Modifying elements
fruits[0] = "mango"
fruits[2] = "blueberry"
fruits[3] = "strawberry"
fruits.insert(4, "watermelon")
print("after modification :", fruits)

after modification : ['mango', 'banana', 'blueberry', 'strawberry', 'watermelon', 'watermelon', 'watermelon', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'peach']

In [19]:
# Extending list (adding other list to fruits list)
vegetables = ["carrot", "spinach", "broccoli"]
fruits.extend(vegetables)
print("After extending:", fruits)

After extending: ['mango', 'banana', 'blueberry', 'strawberry', 'watermelon', 'watermelon', 'watermelon', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'peach', 'carrot', 'spinach', 'broccoli']

In [22]:
# remove values by elements
fruits.remove("watermelon")

print("After removing:", fruits)

After removing: ['mango', 'banana', 'blueberry', 'strawberry', 'watermelon', 'watermelon', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'peach', 'carrot', 'spinach', 'broccoli']

In [24]:
# Deleting elements from the list

del fruits[3]
print("After deleting:", fruits)

After deleting: ['banana', 'blueberry', 'strawberry', 'watermelon', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'peach', 'carrot', 'spinach', 'broccoli']

In [25]:
# Removing Elements by index
fruits.pop(2)
print("After poping:", fruits)

After poping: ['banana', 'blueberry', 'watermelon', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'peach', 'carrot', 'spinach', 'broccoli']

In [26]:
# Cleaing the all Elements
fruits.clear()
print("After clearing:", fruits)

After clearing: []

In [29]:
# Recreating the list for next tasks
fruits = ["apple", "banana", "cherry", "GRAPS", "ORANGE", "kiwi", "melon", "mango"]

# Sorting the list alpha numerically
fruits.sort()
print("After sorting:", fruits)

After sorting: ['GRAPS', 'ORANGE', 'apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon']

In [30]:
# Sorting the list reverse order
fruits.sort(reverse=True)
print("After sorting in reverse order:", fruits)

After sorting in reverse order: ['melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'ORANGE', 'GRAPS']

In [31]:
# Reversing order not using sort
fruits.reverse()
print("After reversing:", fruits)

After reversing: ['GRAPS', 'ORANGE', 'apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon']

In [32]:
# Finding the index of element
index = fruits.index("cherry")
print("Index of cherry:", index)

Index of cherry: 4

In [34]:
# counting the occurance of element (repeting values)
fruits.insert(6, "apple")
print("After inserting:", fruits)
count = fruits.count("apple")
print("Count of apple:", count)

After inserting: ['GRAPS', 'ORANGE', 'apple', 'banana', 'cherry', 'kiwi', 'apple', 'mango', 'melon']
Count of apple: 2

In [35]:
# Slicing of List
sub_list = fruits[1:4] #slicing index 1 to 3 ( 4 is excluded)
print("Sliced list:", sub_list)

Sliced list: ['ORANGE', 'apple', 'banana']

In [36]:
# copying list
copied_list = fruits.copy()
print("Copied list:", copied_list)

Copied list: ['GRAPS', 'ORANGE', 'apple', 'banana', 'cherry', 'kiwi', 'apple', 'mango', 'melon']

In [3]:
# Checking if the list is empty
fruits = ["apple", "banana", "cherry", "GRAPS", "ORANGE", "kiwi", "melon", "mango"]
print("Original list:", fruits)
if fruits:
    print("The list is not empty.")
else:
    print("The list is empty.")
fruits.clear()
print("After clearing:", fruits)
if fruits:
    print("The list is  not empty.")
else:
    print("The list is empty.")

Original list: ['apple', 'banana', 'cherry', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango']
The list is not empty.
After clearing: []
The list is empty.

In [5]:
# Checking if an item is existing in the list
fruits = ["apple", "banana", "cherry", "GRAPS", "ORANGE", "kiwi", "melon", "mango"]
print("Original list:", fruits)
if "apple" in fruits:
    print("Apple is in the list.")
else:
    print("Apple is not in the list.")

Original list: ['apple', 'banana', 'cherry', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango']
Apple is in the list.

In [9]:
# same values adding multipil time in the list
fruits = ["GRAPS", "ORANGE", "kiwi", "melon", "mango"]
repeted_fruits = fruits * 3
print(fruits)
print(repeted_fruits)

['GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango']
['GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango']

In [10]:
# Length of the List
length = len(fruits)
print("Length of the list:", length)

Length of the list: 5

In [15]:
# Joining (combining mutipile list) into single list
fruits = ["apple", "banana", "cherry", "GRAPS", "ORANGE", "kiwi", "melon", "mango"]
vegetables = ["carrot", "spinach", "broccoli"]
combined_list = fruits + vegetables
print("Combined list:", combined_list)

Combined list: ['apple', 'banana', 'cherry', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'carrot', 'spinach', 'broccoli']

In [19]:
# Maximum and Minumu into the list
print(combined_list)
numbers = [5, 2, 8, 1, 9, 3]
maximum = max(numbers)
minimum = min(numbers)
print("Maximum:", maximum)
print("Minimum:", minimum)
print(f"Max:{max(combined_list)}")
print(f"Min:{min(combined_list)}")

['apple', 'banana', 'cherry', 'GRAPS', 'ORANGE', 'kiwi', 'melon', 'mango', 'carrot', 'spinach', 'broccoli']
Maximum: 9
Minimum: 1
Max:spinach
Min:GRAPS

In [24]:
# Creating a List: Start by creating an empty customer queue list, which will represent people arriving at the checkout line.
customer_queue = []
# appending elements: add customers as they are arrive at check out line
customer_queue.append("Customer 1")
customer_queue.append("Customer 2")
customer_queue.append("Customer 3")
customer_queue.append("Customer 4")
customer_queue.append("Customer 5")
print("Customer Queue:", customer_queue)

# Extending List : add a batch of customers who arrive together in group
new_customers = ["Customer 6", "Customer 7", "Customer 8"]
customer_queue.extend(new_customers)
print("Updated Customer Queue:", customer_queue)

# Removing Elements in to the list: Remove specific customer if they decided to leave the queue
customer_to_remove = "Customer 3"
customer_queue.remove(customer_to_remove)
print("Updated Customer Queue after removal:", customer_queue)

Customer Queue: ['Customer 1', 'Customer 2', 'Customer 3', 'Customer 4', 'Customer 5']
Updated Customer Queue: ['Customer 1', 'Customer 2', 'Customer 3', 'Customer 4', 'Customer 5', 'Customer 6', 'Customer 7', 'Customer 8']
Updated Customer Queue after removal: ['Customer 1', 'Customer 2', 'Customer 4', 'Customer 5', 'Customer 6', 'Customer 7', 'Customer 8']

In [26]:
# popping elements : Serve the first customer and remove them from queue
first_customer = customer_queue.pop(0)
print("First Customer Served:", first_customer)
print("Updated Customer Queue:", customer_queue)

# Finding the Index of an Element: If you need to know a specific customer’s position in the queue.
customer_index = customer_queue.index("Customer 5")
print("Position of Customer 5 in the queue:", customer_index)

First Customer Served: Customer 2
Updated Customer Queue: ['Customer 4', 'Customer 5', 'Customer 6', 'Customer 7', 'Customer 8']
Position of Customer 5 in the queue: 1

In [27]:
# Counting Elements: Count the number of times a customer appears in the queue (e.g., if duplicate entries are allowed due to multiple services).
customer_count = customer_queue.count("Customer 5")
print("Number of times Customer 5 appears in the queue:", customer_count)

Number of times Customer 5 appears in the queue: 1

In [32]:
# Sorting Lists: If you need to sort customers based on names
# Inserting
customer_queue.insert(4, "Customer 1")
print("Updated Customer Queue:", customer_queue)
# Sorting the list alpha numerically
customer_queue.sort()
print("Sorted Customer Queue:", customer_queue)
fruits = ["apple", "banana", "cherry", "GRAPS", "ORANGE", "kiwi", "melon", "mango"]
fruits.sort()
print("After Sorted fruits:", fruits)

# Reversing Lists: Reverse the queue, for example, if customers were added in reverse order for a special arrangement.
customer_queue.reverse()
print("Reversed Customer Queue:", customer_queue)
fruits.reverse()
print("After Reversed fruits:", fruits)

Updated Customer Queue: ['Customer 1', 'Customer 1', 'Customer 4', 'Customer 5', 'Customer 1', 'Customer 6', 'Customer 7', 'Customer 8']
Sorted Customer Queue: ['Customer 1', 'Customer 1', 'Customer 1', 'Customer 4', 'Customer 5', 'Customer 6', 'Customer 7', 'Customer 8']
After Sorted fruits: ['GRAPS', 'ORANGE', 'apple', 'banana', 'cherry', 'kiwi', 'mango', 'melon']
Reversed Customer Queue: ['Customer 8', 'Customer 7', 'Customer 6', 'Customer 5', 'Customer 4', 'Customer 1', 'Customer 1', 'Customer 1']
After Reversed fruits: ['melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'ORANGE', 'GRAPS']

In [33]:
# Copy : Make a copy of the current queue for backup
queue_backup = customer_queue.copy()
print("Queue Backup:", queue_backup)
fruits_backup = fruits.copy()
print("fruits Backup:", fruits_backup)

Queue Backup: ['Customer 8', 'Customer 7', 'Customer 6', 'Customer 5', 'Customer 4', 'Customer 1', 'Customer 1', 'Customer 1']
fruits Backup: ['melon', 'mango', 'kiwi', 'cherry', 'banana', 'apple', 'ORANGE', 'GRAPS']

In [34]:
# Count how many cutomers are currently in the queue
customer_count = len(customer_queue)
print("Number of customers in the queue:", customer_count)

Number of customers in the queue: 8

In [37]:
# Checking Membership: See if a specific customer is in the queue.
customer_membership_to_check = "Customer 5"
if customer_membership_to_check in customer_queue:
    print(f"{customer_membership_to_check} is in the queue.")

Customer 5 is in the queue.

In [38]:
# Print out all customers in the queue for reporting purpose
print("All Customers in the Queue:")
for customer in customer_queue:
    print(customer)

All Customers in the Queue:
Customer 8
Customer 7
Customer 6
Customer 5
Customer 4
Customer 1
Customer 1
Customer 1

In [41]:
# Enumarate
print("Customers in the Queue with Indices:")
for index, customer in enumerate(customer_queue):
    print(f"Index {index}: {customer}")

Customers in the Queue with Indices:
Index 0: Customer 8
Index 1: Customer 7
Index 2: Customer 6
Index 3: Customer 5
Index 4: Customer 4
Index 5: Customer 1
Index 6: Customer 1
Index 7: Customer 1

In [42]:
# Enumarate
print("Customers in the Queue with Indices:")
for index, customer in enumerate(customer_queue):
    print(f"Index {index + 1}: {customer}")

Customers in the Queue with Indices:
Index 1: Customer 8
Index 2: Customer 7
Index 3: Customer 6
Index 4: Customer 5
Index 5: Customer 4
Index 6: Customer 1
Index 7: Customer 1
Index 8: Customer 1

In [49]:
# Numbers in list
num_list = [int(x) for x in input("enter list of elements").split()]
sum = 0
for a in num_list:
    sum += a
print("Sum of elements:", sum)

enter list of elements1 2 3 4 5
Sum of elements: 15

In [50]:
# creating list of Integers
numbers = [10, 30 ,40 ,50 ,60 ,70]
print("Original list:" , numbers)

Original list: [10, 30, 40, 50, 60, 70]

In [52]:
# Accecing Elements
print("First element:", numbers[0])
print("Third element:", numbers[2])
print("Last element:",  numbers[-1])

First element: 10
Third element: 40
Last element: 70

In [53]:
# Modifiying Elements
numbers[0] = 20
numbers[2] = 50
numbers[3] = 60
print("After modification:", numbers)

After modification: [20, 30, 50, 60, 60, 70]

In [54]:
# Appending elements
numbers.append(80) # Addinmg element at the end
print("After appending:", numbers)

After appending: [20, 30, 50, 60, 60, 70, 80]

In [55]:
# Inserting element at specific index
numbers.insert(2, 35) # Inserting element at index 2
print("After inserting:", numbers)

After inserting: [20, 30, 35, 50, 60, 60, 70, 80]

In [56]:
# Extending list by adding other list
more_numbers = [90, 100, 110]
numbers.extend(more_numbers)
print("After extending:", numbers)

After extending: [20, 30, 35, 50, 60, 60, 70, 80, 90, 100, 110]

In [57]:
# Remoing elements by value
numbers.remove(60) # it will remove only first occurance
print("After removing by value:", numbers)

After removing by value: [20, 30, 35, 50, 60, 70, 80, 90, 100, 110]

In [59]:
# Removing by Index
removed_items = numbers.pop(3) # it will remove only first occurance
print("Removed item:", removed_items)
print("After removing by index:", numbers)

Removed item: 50
After removing by index: [20, 30, 35, 60, 70, 80, 90, 100, 110]

In [60]:
# Deleting elements from list
del numbers[2]
print("After deleting:", numbers)

After deleting: [20, 30, 60, 70, 80, 90, 100, 110]

In [61]:
# Clearing elements from lisr
numbers.clear()
print("After clearing:", numbers)

After clearing: []

In [79]:
# Recreating the list for further operations
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

# Sorting the list
numbers.sort() # sorting in assending order
print("After sorting:", numbers)

# Sorting in revers order
numbers.sort(reverse=True)
print("After sorting in reverse order:", numbers)

# revers order
numbers.reverse()
print("After reversing:", numbers)

# Finding the index of an element
index = numbers.index(40)
print("Index of 40:", index)

# Counting the occurance of an element
count = numbers.count(50)
print("Count of 50:", count)

# slicing a list
sub_list = numbers[1:4] #slicing index 1 to 3 ( 4 is excluded)
print("Sliced list:", sub_list)

# copying list
copied_list = numbers.copy()
print("Copied list:", copied_list)

# Checking list is empty
print("Original list:", numbers)
if numbers:
    print("The list is not empty.")
else:
    print("The list is empty.")

# Lenth of the list
length = len(numbers)
print("Length of the list:", length)

# Checking if the item is exist or not
if 120 in numbers:
    print("120 is in the list.")
else:
    print("120 is not in the list.")

# Joining (combining mutipile list) into single list
combined_list = numbers + more_numbers
print("Combined list:", combined_list)

# Maximum and Minumu into the list
maximum = max(numbers)
minimum = min(numbers)
print("Maximum:", maximum)
print("Minimum:", minimum)

# Maximum and Minumu into the list more_number
maximum = max(more_numbers)
minimum = min(more_numbers)
print("Maximum:", maximum)
print("Minimum:", minimum)

# Iterating through the List
print("Iterating through the List:")
for num in numbers:
    print(num)

After sorting: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
After sorting in reverse order: [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
After reversing: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Index of 40: 3
Count of 50: 1
Sliced list: [20, 30, 40]
Copied list: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Original list: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
The list is not empty.
Length of the list: 10
120 is not in the list.
Combined list: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 90, 100, 110]
Maximum: 100
Minimum: 10
Maximum: 110
Minimum: 90
Iterating through the List:
10
20
30
40
50
60
70
80
90
100