<a href="https://colab.research.google.com/github/gurappa9797/28mints-devops-master-class/blob/master/tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
# Creating Tuples

tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1, 2, 3, 4, 5 )
tup3 = "a", "b", "c", "d"
print(tup1)
print(tup2)
print(tup3)

# Accessing Values in Tuples (Indexing)

print("tup1[0]: ", tup1[0])
print("tup2[1:4]: ", tup2[1:4])
print("tup3[0:2]:", tup3[0:2])

# Updating Tuples

tup1 = (12, 34.56)
tup2 = ('abc', 'xyz')
tup3 = tup1 + tup2
print(tup3)

# Deleting Tuples

tup5 = ('matchs', 'social', 1998, 2002)
print(tup5)
del tup5
print("After deleting tup5 :")

# Iterating through using tuple
fruits = ("apple", "banana", "cherry")
print(fruits)
print(fruits[0])
print(fruits[1])
print(fruits[2])
for x in fruits:
  print(x)
  print(x[0])
  print(x[2])
  print(x[4])

('physics', 'chemistry', 1997, 2000)
(1, 2, 3, 4, 5)
('a', 'b', 'c', 'd')
tup1[0]:  physics
tup2[1:4]:  (2, 3, 4)
tup3[0:2]: ('a', 'b')
(12, 34.56, 'abc', 'xyz')
('matchs', 'social', 1998, 2002)
After deleting tup5 :
('apple', 'banana', 'cherry')
apple
banana
cherry
apple
a
p
e
banana
b
n
n
cherry
c
e
r

In [13]:
# Contatinatiiong Tuple
veg_value = ('carrot', 'Papper', 'bringal', 'tamoto')
fv = fruits + veg_value
print(fv)

('apple', 'banana', 'cherry', 'carrot', 'Papper', 'bringal', 'tamoto')

In [14]:
# Repeting an elements (adding same elements multiple times)
rept_vales = fv * 2
print(rept_vales)

('apple', 'banana', 'cherry', 'carrot', 'Papper', 'bringal', 'tamoto', 'apple', 'banana', 'cherry', 'carrot', 'Papper', 'bringal', 'tamoto')

In [17]:
# Length Of Tuples
print(len(fv))
print(len(rept_vales))

7
14

In [19]:
# counting occurance of an element
print(fv.count('apple'))
print(rept_vales.count('carrot'))

1
2

In [20]:
# Finding indexing of an element
print(fv.index('apple'))
print(rept_vales.index('carrot'))

0
3

In [24]:
 if 'apple' in fv:
    print('yes')
else:
    print('no')

# Not in the list
if 'apple' not in fv:
    print('yes')
else:
    print('no')


 if 'mango' in rept_vales:
    print('yes')
else:
    print('no')

# Not in the list
if 'mango' not in fv:
    print('yes')
else:
    print('no')

yes
no
no
yes

In [41]:
# Tuple unpacking
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

person = ("John", 25, "New York", "s/w engineer")
print("person", person)
name, age, city, profession = person
print(f"unpacked tuple: Name = {name}, Age = {age}, City = {city}, Profession = {profession}")
print(f"unpacked tuple: Name = (name), Age = (age), City = (city), Profession = (profession)") # if not giving correct brackes it will give diffrent output
print(name)
print(age)
print(city)
print(profession)

apple
banana
cherry
person ('John', 25, 'New York', 's/w engineer')
unpacked tuple: Name = John, Age = 25, City = New York, Profession = s/w engineer
unpacked tuple: Name = (name), Age = (age), City = (city), Profession = (profession)
John
25
New York
s/w engineer

In [45]:
# Converting List to tuple
my_list = [1, 2, 3, 4, 5]
print(my_list)
my_tuple = tuple(my_list)
print(my_tuple)

fruits = ["apple", "banana", "cherry"]
print(fruits)
fruits_tuple = tuple(fruits)
print("after converting list to tuple:", fruits_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)
['apple', 'banana', 'cherry']
after converting list to tuple: ('apple', 'banana', 'cherry')

In [48]:
# Maximum and Minimum value in tuple
print(max(my_tuple))
print(min(my_tuple))

nums = (10, 20, 30, 40, 50)
print("Maximum Number in tuple ;", max(nums))
print("Minimum Number in tuple ;", min(nums))

5
1
Maximum Number in tuple ; 50
Minimum Number in tuple ; 10

In [55]:
import getpass
# Credintials matching program
credentials = ("guruadmin", "Welcome@12345")
username = input("enter user name: ")
# password = input("enter password: ")
password = getpass.getpass("enter password: ")
if username == credentials[0] and password == credentials[1]:
    print("Login Successfull")
else:
    print("Login Failed: Invalid user name and password")

enter user name: guruadmin
enter password: ··········
Login Successfull

 Representing GPS Coordinates and Timestamps

In [57]:
# Each location tuple contains (latitude, longitude, timestamp)

checkpoint_1 = (37.7749, -122.4194, "2024-10-29 09:30:00")
checkpoint_2 = (37.8044, -122.2711, "2024-10-29 10:45:00")


# Accessing Coordinates and Timestamp: You can access specific parts of each checkpoint for display or analysis.

(latitude, longitude, timestamp) = checkpoint_1
print(f"Checkpoint 1 - Latitude: {latitude}, Longitude: {longitude}, Timestamp: {timestamp}")
print(f"Checkpoint 1 at coordinates ({latitude}, {longitude}) was reached at {timestamp}.")

(latitude, longitude, timestamp) = checkpoint_2
print(f"Checkpoint 2 - Latitude: {latitude}, Longitude: {longitude}, Timestamp: {timestamp}")
print(f"Checkpoint 2 at coordinates ({latitude}, {longitude}) was reached at {timestamp}.")

Checkpoint 1 - Latitude: 37.7749, Longitude: -122.4194, Timestamp: 2024-10-29 09:30:00
Checkpoint 1 at coordinates (37.7749, -122.4194) was reached at 2024-10-29 09:30:00.
Checkpoint 2 - Latitude: 37.8044, Longitude: -122.2711, Timestamp: 2024-10-29 10:45:00
Checkpoint 2 at coordinates (37.8044, -122.2711) was reached at 2024-10-29 10:45:00.

In [60]:
from geopy.distance import geodesic

lat1, lon1, _ = checkpoint_1
lat2, lon2, _ = checkpoint_2
distance = geodesic((lat1, lon1), (lat2, lon2)).kilometers
print(f"The distance between Checkpoint 1 and Checkpoint 2 is approximately {distance:.2f} kilometers.")

The distance between Checkpoint 1 and Checkpoint 2 is approximately 13.47 kilometers.